@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Site do Hiago em MVC </p>
    <p>MVC</p>
    <p>Asd</p>
    <p>Asd</p>
    <span>Seu e-mail: @Model.Email</span>
</div>
